@font-face {
  font-family: space;
  src: url(/SpaceGrotesk-VariableFont_wght.ttf);
  font-display: swap;
}

html body {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  height: 100vh;
  font-family: space;
  background-color: darkkhaki;
}
